button{
  background-color: rgb(191, 8, 8);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 60%
}
.myButton {
    background-color: rgb(93, 138, 253);
    color: rgb(255, 255, 255);
    background-color: white;
    color: black;
    margin: 10px;
    padding: 8px 45px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
.myButton:hover {
    background-color: rgb(114, 194, 255);
  }
